<div role="dialog" aria-label="View project" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ctrl.project.projectName }}</h2>
        </div>
    </md-toolbar>

    <div class="project-dialog-content">
        <md-list>
            <md-list-item>
                <p>Project Name:</p>
                <p class="md-secondary">{{ ctrl.project.projectName }}</p>
            </md-list-item>

            <md-list-item>
                <p>Algorithm Type:</p>
                <p class="md-secondary">{{ ctrl.project.algorithmType }}</p>
            </md-list-item>

            <md-list-item>
                <p>Evaluation File:</p>
                <p class="md-secondary">{{ ctrl.project.evalFileIdentifier }}</p>
            </md-list-item>

            <md-subheader class="md-no-sticky">Radiomap files</md-subheader>
            <md-list-item ng-repeat="radiomap in ctrl.project.radioMapFileIdentifiers">
                <p>{{ radiomap }}</p>
            </md-list-item>

            <md-subheader class="md-no-sticky">Project parameters</md-subheader>
            <md-list-item ng-repeat="parameter in ctrl.project.saveNewProjectParametersSet">
                <p>{{ parameter.name }}</p>
                <p class="md-secondary">{{ parameter.value }}</p>
            </md-list-item>
        </md-list>
    </div>

    <div layout="row" class="dialog-button">
        <md-button flex ng-click="ctrl.closeDialog()">
            Delete
        </md-button>
        <md-button flex ng-click="ctrl.closeDialog()">
            Load
        </md-button>
        <md-button md-autofocus flex class="md-primary" ng-click="ctrl.closeDialog()">
            Close
        </md-button>
    </div>
</div>

