<md-card ng-show="algoShow()" ng-controller="AlgorithmCtrl" class="md-whiteframe-3dp" md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Algorithm</span>
            <span class="md-subhead">Select an algorithm</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">timeline</i>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Algorithm Type</label>
            <md-select ng-model="choosenAlgorithm" ng-model-options="{trackBy: '$value.niceName'}">
                <md-option ng-repeat="algorithm in availableAlgorithms()" ng-value="{{algorithm}}">
                    {{algorithm.niceName}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>

    <!-- Parameters (only show when parameter is selected) -->
    <div layout="column" ng-show="choosenAlgorithm">
        <md-divider></md-divider>
        <md-subheader class="md-primary">Parameters</md-subheader>
        <!-- Radiomap chooser -->
        <md-input-container style="margin: 16px">
            <label>Radiomaps</label>
            <md-select ng-model="radiomaps" multiple>
                <md-option ng-repeat="rMap in availableRadiomaps()" value="{{rMap.id}}">{{rMap.radioMapSourceFileName}}
                </md-option>
            </md-select>
        </md-input-container>

        <!-- Additional Parameters (button toggles if they should be visible) -->
        <md-button ng-show="choosenAlgorithm"
                   ng-click="collapseProjParams = !collapseProjParams"
                   ng-class="{true: 'md-primary', false: ''}[!collapseProjParams]">
            {{!collapseProjParams && 'Show more' || 'Show less'}} parameters
        </md-button>

        <!-- Project parameters (load dynamically) -->
        <md-input-container ng-show="collapseProjParams" ng-repeat="projParam in choosenAlgorithm.applicableParameters"
                            style="margin: 16px">
            <!-- Display appropriate control depending on type -->
            <div ng-switch on="projParam.valueDataType">
                <!-- Boolean (Checkbox) -->
                <div ng-switch-when="Boolean">
                    <md-switch ng-init="projParam.value = checkLoadedBooleanValue(projParam)" ng-model="projParam.value">{{projParam.prettyName}}
                    </md-switch>
                </div>
                <!-- Other (text field) -->
                <div ng-switch-default>
                    <label>{{projParam.prettyName}}</label>
                    <input ng-init="projParam.value = checkLoadedParamValue(projParam.name) || projParam.defaultValue" ng-model="projParam.value">
                </div>
            </div>
        </md-input-container>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="calculatePos()" class="md-accent">Calculate</md-button>
        </md-card-actions>
    </div>
</md-card>