<md-card class="md-whiteframe-3dp" md-theme="default" ng-controller="BuildingCtrl">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Map</span>
            <span class="md-subhead">Select a map you want to use</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">map</i>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Building</label>
            <md-select ng-model="selectedBuilding" ng-model-options="{trackBy: '$value.buildingId'}">
                <md-option ng-repeat="building in buildings()" ng-value="{{building}}">
                    {{building.buildingName}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Floor</label>
            <md-select ng-model="selectedFloor">
                <md-option ng-repeat="floor in floors()"
                           ng-value="{{floor}}">{{floor.floorName || 'Floor ' + floor.floorLevel}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="setBuilding()">Choose</md-button>
    </md-card-actions>
</md-card>