<md-card class="md-whiteframe-3dp" md-theme="default" ng-controller="BuildingCtrl">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Map</span>
            <span class="md-subhead">Select a map you want to use</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">map</i>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Building</label>
            <md-select ng-model="buildingData.selectedBuilding">
                <md-option ng-repeat="building in buildingData.buildings" value="{{building.id}}">
                    {{building.buildingName}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Floor</label>
            <md-select ng-model="buildingData.selectedFloor">
                <md-option ng-repeat="floor in getNumber(buildingData.selectedBuilding.floorCount) track by $index"
                           value="{{$index}}">Floor {{$index}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="setBuilding()">Choose</md-button>
    </md-card-actions>
</md-card>