<md-card flex="100" flex-gt-xs="50" class="md-whiteframe-3dp" ng-controller="EvaalEditCtrl" md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">List of Evaal Files</span>
            <span class="md-subhead">View, delete evaal files</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">view_list</i>
        </md-card-title-media>
    </md-card-title>

    <md-list>
        <md-list-item ng-repeat="evaalFile in evaalFiles()" ng-click="showEvaalInfo(evaalFile)"
                      class="md-2-line noright">
            <div class="md-list-item-text">
                <h3>{{ evaalFile.fileName }}</h3>
                <p>{{ evaalFile.type }}</p>
            </div>
            <div class="layout-margin">
                <i class="material-icons">visibility</i>
                <i class="material-icons">mode_edit</i>
            </div>
        </md-list-item>
        <!-- Message only visible when no evaal files available -->
        <md-list-item ng-hide="evaalFiles().length">
            <p>No Evaal files available yet</p>
        </md-list-item>
    </md-list>
</md-card>
