<md-card flex="100" flex-gt-xs="50" class="md-whiteframe-3dp" ng-controller="ProjectCtrl" md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">List of Projects</span>
            <span class="md-subhead">View, load or edit projects</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">view_list</i>
        </md-card-title-media>
    </md-card-title>

    <md-list>
        <md-list-item ng-repeat="project in projects()" ng-click="showProjectInfo(project.projectId)"
                      class="md-2-line noright">
            <div class="md-list-item-text">
                <h3>{{ project.projectName }}</h3>
                <p>{{ project.buildingName }}</p>
            </div>
        </md-list-item>
        <!-- Message only visible when no projects available -->
        <md-list-item ng-hide="projects().length">
            <p>No Projects available yet</p>
        </md-list-item>
    </md-list>
</md-card>
