<!-- Sidebar definition for the map editor -->
<md-sidenav class="md-sidenav-right indoor-nav" md-component-id="right"
            md-whiteframe="4" md-disable-backdrop md-is-open="true">

    <!-- Toolbar title -->
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Map Settings</h1>
    </md-toolbar>

    <md-content ng-controller="MapSettingsCtrl" layout-margin>

        <!-- Toolbar view settings -->
        <div ng-include="'pages/forms/map/view-settings.html'"></div>

        <!-- Toolbar map chooser -->
        <div ng-include="'pages/forms/map/map-chooser.html'"></div>

        <!-- Toolbar track chooser -->
        <div ng-include="'pages/forms/map/track-chooser.html'"></div>

        <!-- Toolbar algorithm chooser -->
        <div ng-include="'pages/forms/map/algorithm-chooser.html'"></div>

        <!-- Toolbar result -->
        <div ng-include="'pages/forms/map/result.html'"></div>

        <!-- Save project field -->
        <div ng-show="projectShow()" layout="row" layout-align="end center">
            <md-input-container>
                <label>Projectname</label>
                <input ng-model="projectData.projectName"/>
            </md-input-container>

            <md-button ng-click="saveProject()" class="md-button">
                Save Project
            </md-button>
        </div>

    </md-content>

</md-sidenav>
<!-- Actual map -->
<openlayers ng-if="floorChoosen()" id="map" class="mapview" ol-center="mapCenter()" ol-defaults="mapDefaults()"
            ol-view="mapView()" custom-layers="true">
    <ol-layer ol-layer-properties="pathsLayer()"></ol-layer>
    <ol-layer ol-layer-properties="map()"></ol-layer>
    <ol-layer ol-layer-properties="calcPointLayer()"></ol-layer>
    <ol-layer ol-layer-properties="noRefCalcPointLayer()"></ol-layer>
    <ol-layer ol-layer-properties="refPointLayer()"></ol-layer>
    <ol-marker ng-repeat="pointLabel in pointLabels()" ol-marker-properties="pointLabel"></ol-marker>
</openlayers>

<md-content ng-if="!floorChoosen()" class="md-padding" layout="column" layout-align="center center"
            flex-gt-xs="70">
    <div layout="column" layout-align="center center">
        <img src="assets/icons/no-map.png">
        <h1 style="color: #616161">Choose a map first</h1>
    </div>
</md-content>