<md-content class="md-padding" ng-controller="ProjectCtrl">
    <div layout="row" layout-align="center" flex>
        <md-card flex="100" flex-gt-xs="50" class="md-whiteframe-3dp"
                 md-theme="default">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">List of Projects</span>
                    <span class="md-subhead">View or Edit any Project</span>
                </md-card-title-text>
                <md-card-title-media>
                    <i class="material-icons">view_list</i>
                </md-card-title-media>
            </md-card-title>

            <md-list>
                <md-list-item ng-repeat="project in projects" ng-click="goToPerson(person.name, $event)" class="noright">
                    <p>{{ project.name }}</p>
                    <div class="layout-margin">
                        <i class="material-icons">visibility</i>
                        <i class="material-icons">mode_edit</i>
                    </div>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</md-content>
