<!DOCTYPE html>
<html lang="en">
<body ng-app="IndoorAppFooter" ng-cloak>
    <md-content layout="column" class="indoorFooter">
        <md-toolbar class="md-warn md-hue-3">
            <div ng-controller="NavCtrl" class="md-toolbar-tools">
                <h2 class="md-toolbar-tools">
                    <span class="md-flex">Copyright @ HFT</span>
                </h2>
            </div>
        </md-toolbar>
    </md-content>

<script type="text/javascript">
    /**
     * Include the dependency on 'ngMaterial'
     */
    var aModule = angular.module('IndoorAppFooter', ['ngMaterial']);
</script>
</body>
</html>