<!DOCTYPE html>
<html lang="en">
<body ng-app="IndoorAppHeader" ng-cloak>
<md-content layout="column" style="height:100%">
    <md-toolbar>
        <div ng-controller="NavCtrl" class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
                <i class="material-icons">menu</i>
            </md-button>
            <h2 flex md-truncate>Indoor Map View</h2>
        </div>
    </md-toolbar>
</md-content>

<script type="text/javascript">
    /**
     * Include the dependency on 'ngMaterial'
     */
    var aModule = angular.module('IndoorAppHeader', ['ngMaterial']);
</script>
</body>
</html>