<md-card flex="100" flex-gt-sm="50" ng-controller="LogImportCtrl" class="md-whiteframe-3dp"
         md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Log file import</span>
            <span class="md-subhead">Select the file you want to import</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">insert_drive_file</i>
        </md-card-title-media>
    </md-card-title>
    <md-card-content layout="column">

        <md-input-container flex="100">
            <label>Name</label>
            <input ng-model="fileName"/>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Building</label>
            <md-select ng-model="map.building">
                <md-option ng-repeat="building in buildings" value="{{building.id}}">{{building.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="100">
            <md-switch ng-model="trainData">Use for algorithm training</md-switch>
        </md-input-container>

        <md-input-container flex="100">
            <input id="inputFile" name="file" class="ng-hide" type="file" ng-files="getTheFiles($files)"/>
            <md-button class="md-button" ng-click="upload()">
                Choose File
            </md-button>
            <p id="fileNameField">{{fileUploaded}}</p>
        </md-input-container>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="uploadFiles()">Upload</md-button>
    </md-card-actions>
</md-card>