<md-card flex="100" flex-gt-sm="50" ng-controller="LogImportCtrl" class="md-whiteframe-3dp"
         md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">RadioMap file import</span>
            <span class="md-subhead">Select the file you want to import for radio map generation</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">insert_drive_file</i>
        </md-card-title-media>
    </md-card-title>
    <form name="radioMapForm">
        <md-card-content layout="column">
            <!-- Building chooser -->
            <md-input-container class="md-block" flex-gt-sm>
                <label>Building</label>
                <md-select ng-model="logFileParameters.buildingIdentifier" required name="buildingIdentifier">
                    <md-option ng-repeat="building in buildings()" value="{{building.buildingId}}">
                        {{building.buildingName}}
                    </md-option>
                </md-select>
                <div ng-messages="radioMapForm.buildingIdentifier.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <!-- File chooser radiomap log -->
            <md-input-container flex="100" layout="row">
                <input id="inputFile" name="file" class="ng-hide" type="file" ng-files="getTheFiles($files)"
                       aria-label="logFileUpload"/>
                <md-button class="md-button" ng-click="uploadLogClick()">
                    Choose File
                </md-button>
                <p id="fileNameField">{{fileUploaded}}</p>
            </md-input-container>

            <!-- Option to add an optional transformedPointsFile  -->
            <md-switch ng-model="toggleTransformedPoints" aria-label="Transformed points file">
                Add a transformed points file
            </md-switch>

            <!-- File chooser transformed points -->
            <md-input-container ng-if="toggleTransformedPoints" flex="100" layout="row">
                <input id="transformedPointsFile" name="tpFile" class="ng-hide" type="file"
                       ng-files="getTpFiles($files)"
                       aria-label="transformedPointsUpload"/>
                <md-button class="md-button" ng-click="uploadTransformedClick()">
                    Choose File
                </md-button>
                <p id="fileNameTransformedPoints">{{tpFileUploaded}}</p>
            </md-input-container>

        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" ng-click="uploadFiles()">Upload</md-button>
        </md-card-actions>
    </form>
</md-card>