<md-card flex="100" flex-gt-sm="50" ng-controller="LogImportCtrl" class="md-whiteframe-3dp"
         md-theme="default">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">RadioMap file import</span>
            <span class="md-subhead">Select the file you want to import for radio map generation</span>
        </md-card-title-text>
        <md-card-title-media>
            <i class="material-icons">insert_drive_file</i>
        </md-card-title-media>
    </md-card-title>
    <md-card-content layout="column">
        <div ng-form="radioMapForm">
            <!-- Building chooser -->
            <md-input-container class="md-block" flex-gt-sm>
                <label>Building</label>
                <md-select ng-model="logFileParameters.buildingIdentifier" required name="buildingIdentifier">
                    <md-option ng-repeat="building in buildings()" value="{{building.id}}">{{building.buildingName}}
                    </md-option>
                </md-select>
                <div ng-messages="radioMapForm.buildingIdentifier.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>

        <!-- File chooser -->
        <md-input-container flex="100">
            <input id="inputFile" name="file" class="ng-hide" type="file" ng-files="getTheFiles($files)"
                   aria-label="logFileUpload"/>
            <md-button class="md-button" ng-click="upload()">
                Choose File
            </md-button>
            <p id="fileNameField">{{fileUploaded}}</p>
        </md-input-container>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="uploadFiles()">Upload</md-button>
    </md-card-actions>
</md-card>